@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="publisher" content="Mikro İnteraktif" />
    <title>Asp.Net Core In-Memory Cache Kullanımı</title>
    <link rel="stylesheet" href="/css/site.css" />
</head>
<body>
    <div class="kapsul">
        <section>
            <ul class="menu">
                <li>
                    <a href="/Index/InMemoryCacheOlustur">In-Memory Cache Oluştur</a>
                </li>
                <li>
                    <a href="/Index/InMemoryCacheListele">In-Memory Cache Listele</a>
                </li>
                <li>
                    <a href="/Index/InMemoryCacheSil">In-Memory Cache Sil</a>
                </li>
            </ul>
        </section>
        @RenderBody()
    </div>
</body>
</html>